Base
    * {
      margin:0px;
      padding: 0px;
      box-sizing: border-box;
      background-color: linear-gradient(#f5f5ff, #ccccfc);
      background-repeat:no-repeat;
      background-position:center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    .credit{
      bottom: 3px;
      margin-top: 10%;
      margin-left: 10%;
      font-size: 10px;

}

    header {
      font-family: 'Balsamiq Sans', cursive;
      display: flex;
      height: 14vh;
      margin: auto;
      align-items: center;

    }
    .logo {
      margin: 5px;
      font-size: 26px;
      color:white;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      align-self: center;
    }
    section {
      display: flex;
      width: 90%;
      margin: auto;
}
    .logo-container, .nav-links{
      display: flex;
      margin-left: 3%;
    }
    .logo-container img{
      flex: 0;

    }

    nav {
      flex: 3;
    }

    .nav-links {
      justify-content: space-around;
      margin: auto;
      list-style: none;
      font-family: 'Montserrat', sans-serif;
      font-weight: 300;
    }
    .nav-link{
      color:white;
      font-size: 20px;
    }


.font {
    font-family: 'Montserrat', sans-serif;
    font-size: 300%;
    display: flex;
    justify-content: center;
    height: 150px;
    margin: auto;
    align-items: center;
}

.center {
  justify-content: center;
  text-align: center;
  font-size: 22px;
  font-family: 'Balsamiq Sans', cursive;
  align-items: center;
  justify-content: center;
}

.cont {
  display: flex;
  margin: auto;
}
.ntext{
  font-family: 'Balsamiq Sans', cursive;
  text-align: justify;
  font-size: 18px;

  margin-right: 4%;
}

.image{

  align-content: center;
  align-items: center;
}
.box {

  align-items: center;
  justify-content: center;
  margin: auto;

}
.alert{
  width: 90%;
  margin:auto;
}

.content-section{
  width: 60%;
  margin:auto;
  padding-top: 3%;
}
.border-top {
  justify-content: center;
  width: 90%;
  margin: auto;
}

.thead{
  font-family: 'Montserrat', sans-serif;
  margin:auto;
  text-align: center;
  border: 1px solid black;

}

.tbody{
  justify-content: center;
  margin: auto;
  text-align: center;
  width: 5%;
}
