{% extends "base.html" %}
{% block main %}

<div class="content-section" style="flex:1">
<form method="POST" action="#">

        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Search: </legend>
            <div class="md-form active-cyan active-cyan-2 mb-3" style="display:flex">
              <input placeholder="RA" class="form-control" style="width:40%" type="text" name="RA"/>
              </div>
              <div class="md-form active-cyan active-cyan-2 mb-3" style="display:flex">
              <input placeholder="Dec" class="form-control" style="width:40%" type="text" name="Dec"/>
              <button type="submit" class="btn btn-dark" style="margin-left:5%">Search</button>
              </div>

</form>
</div>
<div style="flex:0; margin-bottom:4%;">
{% for key,value in id.iterrows() %}
<div style=" border: 1px solid black; width:90%; margin:auto;">
  <div style="display: flex; margin:5% auto 5% auto; justify-content:center; align-items:center;">
    <table class="table" style="margin:auto; width:15%;">
      <tbody class="thead-dark">
        <tr>
          <th scope="row" class="thead">uJAVA_auto</th>
            <td class="tbody">{{value.uJAVA_auto}}</td>
            </tr>
          <th scope="row" class="thead">F378_auto</th>
            <td class="tbody">{{value.F378_auto}}</td>
              </tr>
          <th scope="row" class="thead">F395_auto</th>
            <td class="tbody">{{value.F395_auto}}</td>
              </tr>
          <th scope="row" class="thead">F410_auto</th>
            <td class="tbody">{{value.F410_auto}}</td>
              </tr>
          <th scope="row" class="thead">F430_auto</th>
            <td class="tbody">{{value.F430_auto}}</td>
              </tr>
          <th scope="row" class="thead">g_auto</th>
            <td class="tbody">{{value.g_auto}}</td>
              </tr>
          <th scope="col" class="thead">F515_auto</th>
            <td class="tbody">{{value.F515_auto}}</td>
              </tr>
          <th scope="col" class="thead">r_auto</th>
            <td class="tbody">{{value.r_auto}}</td>
              </tr>
          <th scope="col" class="thead">i_auto</th>
            <td class="tbody">{{value.i_auto}}</td>
              </tr>
          <th scope="col" class="thead">F660_auto</th>
            <td class="tbody">{{value.F660_auto}}</td>
              </tr>
          <th scope="col" class="thead">F861_auto</th>
            <td class="tbody">{{value.F861_auto}}</td>
              </tr>
          <th scope="col" class="thead">z_auto</th>
            <td class="tbody">{{value.z_auto}}</td>
        </tr>
      </tbody>
    </table>

        <table class="table table-striped" style="width:40%; margin:auto;">
          <thead>
            <tr>
              <th scope="col">Parameters</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>ID</td>
              <td>{{value.ID}}</td>
            </tr>
            <tr>
              <td>RA</td>
              <td>{{value.RA}}</td>
            </tr>
            <tr>
              <td>Dec</td>
              <td>{{value.Dec}}</td>
            </tr>
            <tr>
              <td>PhotoFlag</td>
              <td>{{value.PhotoFlag}}</td>
            </tr>
            <tr>
              <td>FWHM</td>
              <td>{{value.FWHM}}</td>
            </tr>
            <tr>
              <td>FIELD STATUS</td>
              <td>{{value.FieldS}}</td>
            </tr>
          </tbody>
        </table>
      <p style="margin:auto;"> <img src="{{value.image}}"> </p>
    </div>
    {% if auto != None %}
    <div style="margin-top:4%; justify-content:center;" class="row">
      <p class="column"><img src="data:image/png;base64, {{ auto }}" width="420px"></p>
      <p style="margin-left:3%" class="column"><img src="data:image/png;base64, {{ petro }}" width="420px"></p>
      </div>

  {% endif%}
</div>
    {% endfor %}
  </div>

  {% endblock %}
